<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen</title>
    <link rel="stylesheet" href="/styles/gallery.css">
</head>
<body>
    <nav>
        <a href="/"><span>Queen</span></a>
        <ul>
            <li><a href="about">About</a></li>
            <li><a href="works">Works</a></li>
            <li><a href="gallery">Gallery</a></li>
            
        </ul>
    </nav>
    <article>
        <img src="/images/queen-1.jfif" alt="">
        <img src="/images/queen-2.jfif" alt="">
        <img src="/images/queen-3.jfif" alt="">
        <img src="/images/queen-4.jfif" alt="">
        <img src="/images/queen-5.jfif" alt="">
        <img src="/images/queen-6.jfif" alt="">
        <img src="/images/queen-7.jfif" alt="">
        <img src="/images/queen-8.jfif" alt="">
        <img src="/images/queen-9.jfif" alt="">
    </article>
    
</body>
</html>