<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Queen</title>
    <link rel="stylesheet" href="/styles/works.css">
</head>
<body>
    <nav>
        <a href="/"><span>Queen</span></a>
        <ul>
            <li><a href="about">About</a></li>
            <li><a href="works">Works</a></li>
            <li><a href="gallery">Gallery</a></li>
            
        </ul>
    </nav>
    <article>
        <div>
            <ol>
                <li>Queen (1973)</li>
                <li>Queen II (1974)</li>
                <li>Sheer Heart Attack(1974)</li>
                <li>A night at the Opera (1975)</li>
                <li>A day at the Races (1976)</li>
                <li>News of the World (1977)</li>
                <li>Jazz (1978)</li>
                <li>Live Killers (1979)</li>
                <li>The game (1980)</li>
                <li>Flash Gordon (1980)</li>
                <li>Hot Space (1982)</li>
                <li>The works (1984)</li>
                <li>A kind of Magic (1986)</li>
                <li>Live Miracle (1986)</li>
                <li>The miracle (1989)</li>
                <li>Innuendo (1991)</li>
                <li>Made in Heaven (1995)</li>
                <li>Return of the Champions (2005)</li>
                <li>The Cosmos Rocks (2008)</li>
                <li>Live in Ukraine (2009)</li>
            </ol>
            
        </div>
        <img src="/images/queen_works.jpg" alt="">
    </article>
    
</body>
</html>